.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact__title {
  &.title {
    margin-bottom: 45px;
  }
}

.form__column {
  width: calc(50% - #{$page-gap / 2});
}

.form__label {
  display: block;
  width: 100%;
  margin-bottom: 34px;

  text-transform: uppercase;
  font-weight: bold;
}

.form__input,
.form__textarea {
  margin: 2px 0 0;
  display: block;
  width: 100%;
  padding: 20px;

  color: inherit;
  font-weight: bold;

  border: 2px solid $color-alternative;
  background-color: transparent;
}

.form__input {
  width: 470px;
}

.form__textarea {
  min-height: 220px;
}

.form__submit {
  margin-top: 7px;
}
