.section {
  padding: 80px 0 80px;

  color: $color-alternative;
  background-color: $color-base;

  &--alternative {
    color: $color-base;
    background-color: $color-alternative;

    & .title {
      &::before {
        background-color: $color-base;
      }
    }
  }

  &--highlight {
    background-color: $color-highlight;
  }
}
