.title {
  position: relative;

  margin-top: 0;
  margin-bottom: 38px;

  @include font-size(30);
  font-weight: 300;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    bottom: -12px;

    width: 45px;
    height: 2px;
    background-color: $color-alternative;
  }
}
