.who-is {
  padding: 98px 0 144px;
  background-image: url("../images/john_doe_background_photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.who-is__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.who-is__title {
  margin-bottom: 45px;
  width: 100%;
}

.who-is__text {
  margin: 0 0 25px;
  width: calc(50% - #{$page-gap / 2});
}

.who-is__social {
  margin-top: 8px;
  width: calc(50% - #{$page-gap / 2});
}
